html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 125%;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 90%;
}

header {
  background-image: url(../assets/hero.jpg);
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.imgSkill {
  width: 15%;
  margin: 30px 70px;
}

.skill {
  text-align: center;
  font-family: "Source Serif 4", sans-serif;
  font-size: 4rem;
  margin-bottom: 5rem;
}

.portfolioCont {
  background-color: #EDEDED;
  width: 90%;
  margin: 0 auto;
}

.potImgTxt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.portImgTxtCont {
  width: calc(50% - 1rem);
  margin-right: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.h2Prot {
  margin-top: 15px;
}

.project {
  text-align: left;
  font-family: "Source Serif 4", sans-serif;
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.project p {
  font-size: 1.3rem;
  margin-top: 5px;
}

.imgPortifolio {
  width: 100%;
  box-shadow: 6px 7px #1d1d1d;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btnProj {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.aboutCont {
  background-image: url(../assets/Caraguatatuba---20140201--229.jpg);
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutMe {
  text-align: center;
  font-family: "Source Serif 4", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 150px;
}

.aboutMeCont2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aboutMeCont3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  align-items: center;
}

.h2About {
  color: #1d1d1d;
  text-align: left;
  -webkit-text-stroke: 1.5px black;
}

.pAboutMe {
  font-size: 1.5rem;
  color: #1d1d1d;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-bottom: 1.5rem;
  letter-spacing: 0.4rem;
  line-height: 2.5rem;
  width: 100%;
  -webkit-text-stroke: 1.5px black;
}

.portrait {
  width: 95%;
  border: 2px solid black;
  border-radius: 100%;
  background-color: #EDEDED;
  padding: 3px;
}

.midiaContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.socialMidia a {
  margin: 10px 15px;
  color: #1d1d1d;
  font-size: 2rem;
  border-bottom: none;
}

.socialMidia a:hover {
  color: #68868C;
  border-bottom: none;
}

.contact-me {
  text-align: center;
  margin: 40px 5px;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
  color: black;
  border-radius: 12px;
  border: 2px solid black;
  padding: 9px;
  padding-top: 12px;
  text-align: center;
  display: inline-block;
}

.btn:hover, .btn:focus {
  background-color: black;
  color: #EDEDED;
}

.footerSocialMidia {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-top: 0.01rem dotted #1d1d1d;
}

footer {
  height: 80px;
  text-align: center;
  color: black;
  padding-top: 1%;
}

.getInTfooter {
  color: #EDEDED;
}

.error404 {
  background-image: url(../assets/festival-de-circo-2---20130724--115.jpg);
  background-size: cover;
  padding-bottom: 150px;
  padding-right: 150px;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.errorPage {
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  color: #efefef;
}
.errorPage i {
  color: #efefef;
}

.errorPage i:hover {
  color: #68868C;
}

.h1Error {
  margin-top: 30%;
  margin-left: 25%;
  font-size: 1.9rem;
  background-color: rgba(0, 0, 0, 0.4);
}

ul li .nav404 {
  text-decoration: none;
  font-family: "Source Serif 4", sans-serif;
  color: #EDEDED;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  transition: 0.4s ease-out;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  margin-left: 1rem;
}

ul li .nav404:hover, ul li .nav404:focus {
  color: #68868C;
  border-bottom: 1px solid #68868C;
  transform: scale(20) skew(-20deg);
}

.contactMainSection {
  width: 90%;
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.continer1, .continer2 {
  width: 50%;
}

.formContiner {
  width: 90%;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.submit {
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: end;
  margin-right: 128px;
}

form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 32px;
  background-color: #c6c2c2;
}

.formContiner label {
  display: block;
  margin-bottom: 5px;
  font-size: 2rem;
}

.formElement {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

textarea {
  resize: none;
  min-width: 100px;
}

nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li .aNav {
  text-decoration: none;
  font-family: "Source Serif 4", sans-serif;
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  transition: 0.4s ease-out;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  margin-left: 1rem;
}

.aNav:hover, .aNav:focus {
  color: black;
  border-bottom: 1px solid black;
  transform: skew(-20deg);
  text-transform: uppercase;
}

.myName {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 50vh;
  padding-top: 65px;
  margin-top: 50px;
}

h1 {
  font-family: "Lato", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 3rem;
  margin-bottom: 14px;
}

.pMyName {
  font-family: "Lato", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 1.7rem;
  margin-top: 0;
}

.box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .arrows {
  display: block;
  width: 26px;
  height: 26px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
  margin: -10px;
  transform: rotate(45deg);
}

.box .arrows:nth-child(1) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.box .arrows:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.box .arrows:nth-child(3) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.arrows:hover {
  border-bottom: 1px solid #aaa9a9;
  border-right: 1px solid #aaa9a9;
  transform: rotate(45deg) scale(7rem);
}

.navCont2 {
  position: relative;
}

.hamburger {
  background-color: transparent;
  display: none;
  border: 0;
  color: #EDEDED;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1.4rem;
}

.hamburger:focus {
  outline: none;
}

.intro {
  background-image: url(../assets/lona-grande-1---20112014--1251.jpg);
  background-size: cover;
  background-position: bottom;
  position: fixed;
  padding-bottom: 150px;
  padding-right: 150px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
}

.text {
  font-family: "Lato", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 3rem;
}

.text2 {
  font-family: "Lato", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 1.5rem;
}

.slider {
  background-image: url(../assets/lona-grande-1---20112014--1251.jpg);
  background-size: cover;
  background-position: bottom;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.headerResume {
  background-image: none;
  background-attachment: none;
  background-repeat: none;
  background-size: none;
  min-height: 4vh;
  width: 100%;
}

.resBody {
  background-color: #aaa9a9;
}

.resCont {
  margin: 0 auto;
}

.resume {
  width: 100%;
  margin-top: 60px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 2.7rem;
  }

  .pMyName {
    font-size: 1.5rem;
  }

  .h1Error {
    margin-top: 25%;
    font-size: 2rem;
  }
}
@media (max-width: 950px) {
  .wrapper {
    max-width: 950px;
    width: 90%;
  }

  ul li .aNav {
    font-size: 1rem;
  }

  .skill {
    font-size: 3rem;
  }

  .imgSkills {
    width: 100%;
  }

  .pAboutMe {
    font-size: 1.2rem;
  }

  .portrait {
    width: 77%;
  }

  .aboutCont {
    margin-top: 55px;
  }

  .pFooter {
    font-size: 0.9rem;
  }
}
@media (max-width: 902px) {
  .wrapper {
    max-width: 902px;
    width: 90%;
  }

  ul li .aNav {
    font-size: 0.9rem;
  }

  .btnProj {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media (max-width: 875px) {
  .wrapper {
    max-width: 875px;
    width: 90%;
  }

  .pAboutMe {
    font-size: 1rem;
  }

  .aboutMeCont3 {
    flex-direction: column;
  }

  .aboutCont {
    background-position: center;
  }

  .portrait {
    width: 45%;
  }

  .h1Error {
    margin-top: 25%;
    font-size: 1.7rem;
  }

  .intro {
    padding-right: 1px;
  }
}
@media (max-width: 835px) {
  .wrapper {
    max-width: 835px;
    width: 90%;
  }

  .btnProj {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (max-width: 835px) {
  .wrapper {
    max-width: 835px;
    width: 90%;
  }

  .aboutCont {
    min-height: 127vh;
  }

  ul li .aNav {
    font-size: 0.8rem;
  }

  .imgSkill {
    width: 14%;
    margin: 20px 40px;
  }

  .h2Prot, .h2Sill, .h2About {
    margin-top: 20px;
    font-size: 2.4rem;
  }

  .portImgTxtCont {
    margin-top: 0.5rem;
  }

  .portrait {
    width: 35%;
  }

  .pAboutMe {
    font-size: 0.8rem;
  }

  .footerSocialMidia {
    flex-direction: column-reverse;
  }

  .socialMidia a {
    font-size: 1.5rem;
    margin: 22px 13px 0 13px;
  }

  .h1Error {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 709px) {
  .wrapper {
    max-width: 610px;
    width: 90%;
  }

  .navUl {
    display: none;
    flex-direction: column;
    width: auto;
    padding: 0.6rem;
    margin-top: 1.8rem;
    line-height: 1.6rem;
    position: absolute;
    background-color: rgba(28, 28, 28, 0.2);
    left: 34px;
    top: -5px;
  }

  .navUl.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .imgSkill {
    width: 18%;
    margin: 10px 29px;
  }

  .portImgTxtCont {
    width: 100%;
  }

  .potImgTxt {
    flex-direction: column;
  }

  .portrait {
    width: 25%;
  }

  .pAboutMe {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
  }

  .text {
    font-family: "Lato", sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 1.7rem;
  }

  .text2 {
    font-family: "Lato", sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;
  }

  .error404 {
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: contain;
  }

  .h1Error {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 450px) {
  .wrapper {
    max-width: 450px;
    width: 95%;
  }

  h1 {
    font-size: 2.3rem;
  }

  .pMyName {
    font-size: 1.2rem;
  }

  .h1Error {
    margin-top: 25%;
    font-size: 1rem;
  }

  header {
    background-attachment: scroll;
  }

  .aboutCont {
    min-height: 85vh;
  }

  .aboutCont {
    background-attachment: scroll;
  }
}
@media (max-width: 355px) {
  .wrapper {
    max-width: 355px;
    width: 95%;
  }

  h1 {
    font-size: 1.8rem;
  }

  .pMyName {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */