html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 125%;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 90%;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
}

p {
  font-family: "Prompt", sans-serif;
  line-height: 2rem;
  letter-spacing: 0.02rem;
  text-align: justify;
}

header {
  background-image: url(../assets/hero2.jpg);
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.copyRight {
  font-family: "Prompt", sans-serif;
  color: #efefef;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  position: absolute;
  bottom: 0px;
  margin-left: 20px;
}

.animatioCR {
  line-height: 1rem;
  color: black;
}

.intro .animatioCR {
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.3);
}

.imgSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.imgH3Box {
  width: 20%;
  width: 20%;
  margin-left: 15px;
  margin-right: 15px;
}

.imgSkill {
  width: 35%;
  margin: 30px 70px -7px;
}

.skill {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.h2Skill {
  margin-top: 15px;
  font-size: 2rem;
  font-family: "Prompt", sans-serif;
}

.portfolioCont {
  background-color: #EDEDED;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 67px;
}

.potImgTxt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.portImgTxtCont {
  width: 40%;
  margin: 2rem auto;
}

.h2Prot {
  margin-top: 15px;
  font-size: 2rem;
  font-family: "Prompt", sans-serif;
}

.project {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.project p {
  margin-top: 5px;
}

.imgPortifolio {
  width: 100%;
  border: 0.03rem solid black;
}

h2 {
  font-family: "Prompt", sans-serif;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.btnProj {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.aboutCont {
  background-color: hsla(0deg, 0%, 78%, 0.202);
  margin: 0 auto;
  min-height: 90% vh;
  width: 100%;
}

.aboutMe {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 24px;
}

.aboutMeCont2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aboutMeCont3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  align-items: center;
}

.h2About {
  margin-top: 15px;
  font-size: 2rem;
  color: #1d1d1d;
  text-align: left;
  margin-bottom: 25px;
}

.pAboutMe {
  text-align: center;
  font-size: 1.5rem;
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2.7rem;
  width: 100%;
}

.portrait {
  width: 30%;
  border: 2px solid black;
  border-radius: 100%;
  background-color: #EDEDED;
  padding: 3px;
}

.midiaContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.socialMidia a {
  margin: 10px 15px;
  color: #1d1d1d;
  font-size: 2rem;
  border-bottom: none;
}

.socialMidia a:hover {
  color: #68868C;
  border-bottom: none;
}

.contact-me {
  text-align: center;
  margin: 40px 5px;
}

.btn {
  border: 1px solid black;
  color: black;
  text-decoration: none;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  font-family: "Prompt", sans-serif;
  z-index: 0;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #1d1d1d;
  z-index: -1;
  transition: 0.5s;
  top: 0;
}

.btn:hover::before {
  height: 100%;
}

.footerSocialMidia {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-top: 0.01rem dotted #1d1d1d;
}

footer {
  height: 80px;
  text-align: center;
  color: black;
  padding-top: 1%;
}

.getInTfooter {
  color: #EDEDED;
}

.error404 {
  background-image: url(../assets/festival-de-circo-2---20130724--115.jpg);
  background-size: cover;
  padding-bottom: 150px;
  padding-right: 150px;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.errorPage {
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  color: #efefef;
}
.errorPage i {
  color: #efefef;
}

.errorPage i:hover {
  color: #68868C;
}

.h1Error {
  margin-top: 30%;
  margin-left: 25%;
  font-size: 1.9rem;
  background-color: rgba(0, 0, 0, 0.4);
}

ul li .nav404 {
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  color: #EDEDED;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  transition: 0.4s ease-out;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  margin-left: 1rem;
}

ul li .nav404:hover,
ul li .nav404:focus {
  color: #68868C;
  border-bottom: 1px solid #68868C;
  transform: scale(20) skew(-20deg);
}

form {
  width: 75%;
  margin: 0 auto;
}

.submit {
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: end;
  margin-right: 128px;
}

.formContiner {
  width: 100%;
}
.formContiner label {
  padding: 10px;
  display: flex;
  font-size: 1.2rem;
  text-align: start;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
}

.formElement {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

input {
  width: 95%;
  padding: 5px;
}

textarea {
  resize: none;
  width: 95%;
  height: 250px;
}

.pageThx {
  background-color: rgba(29, 29, 29, 0.3);
}

.thx {
  height: 100vh;
  margin: 0 auto;
}

.thxFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.thxMessge {
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thxbtn {
  border: 1px solid black;
  color: black;
  text-decoration: none;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  font-family: "Prompt", sans-serif;
}

.thxbtn:hover,
.thxbtn:focus {
  color: #ffffff;
}

.thxbtn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #1d1d1d;
  z-index: -1;
  transition: 0.5s;
  top: 0;
}

.thxbtn:hover::before {
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li .aNav {
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  transition: 0.4s ease-out;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  margin-left: 1rem;
}

.aNav:hover, .aNav:focus {
  color: black;
  border-bottom: 1px solid black;
  transform: skew(-20deg);
  text-transform: uppercase;
}

.myName {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 50vh;
  padding-top: 65px;
  margin-top: 50px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 3rem;
  margin-bottom: 14px;
}

.pMyName {
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 1.7rem;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .arrows {
  display: block;
  width: 26px;
  height: 26px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
  margin: -10px;
  transform: rotate(45deg);
}

.box .arrows:nth-child(1) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.box .arrows:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.box .arrows:nth-child(3) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.arrows:hover {
  border-bottom: 1px solid #aaa9a9;
  border-right: 1px solid #aaa9a9;
  transform: rotate(45deg) scale(7rem);
}

.navCont2 {
  position: relative;
}

.hamburger {
  background-color: transparent;
  display: none;
  border: 0;
  color: black;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1.4rem;
}

.hamburger:focus {
  outline: none;
  background-color: transparent;
}

.hamburger:hover {
  color: rgba(28, 28, 28, 0.2);
  background-color: transparent;
}

.intro {
  background-image: url(../assets/morro-de-caxambu---20140829--303.jpg);
  background-size: cover;
  background-position: bottom;
  position: fixed;
  padding-bottom: 150px;
  padding-right: 150px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
  z-index: 10;
}

.text {
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 3rem;
}

.text2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 7px;
  font-size: 1.5rem;
}

.slider {
  background-image: url(../assets/lona-grande-1---20112014--1251.jpg);
  background-size: cover;
  background-position: bottom;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.headerResume {
  background-image: none;
  background-attachment: none;
  background-repeat: none;
  background-size: none;
  min-height: 4vh;
  width: 100%;
}

.resBody {
  background-color: #aaa9a9;
}

.resCont {
  margin: 0 auto;
}

.resume {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 45px;
}

@media (max-width: 1150px) {
  .submit {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 990px) {
  h1 {
    font-size: 2.7rem;
  }

  .pMyName {
    font-size: 1.5rem;
  }

  .h1Error {
    margin-top: 25%;
    font-size: 2rem;
  }

  .btnProj {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 950px) {
  .wrapper {
    max-width: 950px;
    width: 90%;
  }

  ul li .aNav {
    font-size: 1rem;
  }

  .skill {
    font-size: 3rem;
  }

  .imgSkills {
    width: 100%;
  }

  .pAboutMe {
    font-size: 1.2rem;
  }

  .portrait {
    width: 77%;
  }

  .aboutCont {
    margin-top: 55px;
  }

  .pFooter {
    font-size: 0.9rem;
  }
}
@media (max-width: 902px) {
  .wrapper {
    max-width: 902px;
    width: 90%;
  }

  ul li .aNav {
    font-size: 0.9rem;
  }

  .btnProj {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}
@media (max-width: 875px) {
  .wrapper {
    max-width: 875px;
    width: 90%;
  }

  .pAboutMe {
    font-size: 1rem;
  }

  .aboutMeCont3 {
    flex-direction: column;
  }

  .aboutCont {
    background-position: center;
  }

  .portrait {
    width: 45%;
  }

  .h1Error {
    margin-top: 25%;
    font-size: 1.7rem;
  }

  .intro {
    padding-right: 1px;
  }
}
@media (max-width: 835px) {
  .wrapper {
    max-width: 835px;
    width: 90%;
  }

  .btnProj {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (max-width: 835px) {
  .wrapper {
    max-width: 835px;
    width: 90%;
  }

  .aboutCont {
    min-height: 80vh;
  }

  ul li .aNav {
    font-size: 0.8rem;
  }

  .imgSkill {
    width: 14%;
    margin: 20px 40px;
  }

  .h2Prot,
.h2Sill,
.h2About {
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .portImgTxtCont {
    margin-top: 0.5rem;
  }

  .portrait {
    width: 35%;
  }

  .footerSocialMidia {
    flex-direction: column-reverse;
  }

  .socialMidia a {
    font-size: 1.5rem;
    margin: 22px 13px 0 13px;
  }

  .h1Error {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 709px) {
  .wrapper {
    max-width: 610px;
    width: 90%;
  }

  .navUl {
    display: none;
    flex-direction: column;
    width: auto;
    padding: 0.6rem;
    margin-top: 1.8rem;
    line-height: 1.6rem;
    position: absolute;
    background-color: rgba(28, 28, 28, 0.2);
    left: 34px;
    top: -3px;
  }

  .navUl.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .portImgTxtCont {
    width: 90%;
  }

  p {
    text-align: center;
  }

  .imgSkill {
    width: 50%;
    margin: 10px 29px;
  }

  .portImgTxtCont {
    width: 100%;
  }

  .potImgTxt {
    flex-direction: column;
  }

  .portrait {
    width: 25%;
  }

  .pAboutMe {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    width: 90%;
    text-align: inherit;
    font-size: 0.9rem;
  }

  .text {
    font-family: "Montserrat", sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 1.7rem;
    margin-right: 20px;
    margin-left: 10px;
  }

  .text2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;
  }

  .error404 {
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: contain;
  }

  .h1Error {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .submit {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .wrapper {
    max-width: 450px;
    width: 95%;
  }

  h1 {
    font-size: 2.3rem;
  }

  .pMyName {
    font-size: 1.2rem;
  }

  .h1Error {
    margin-top: 25%;
    font-size: 1rem;
  }

  header {
    background-attachment: scroll;
  }

  .copyRight {
    line-height: 0.9rem;
    margin-left: 10px;
  }

  .imgH3Box {
    width: 30%;
    margin: 5px;
  }

  .aboutCont {
    min-height: 85vh;
  }

  .aboutCont {
    background-attachment: scroll;
  }

  .submit {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 355px) {
  .wrapper {
    max-width: 355px;
    width: 95%;
  }

  h1 {
    font-size: 1.8rem;
  }

  .pMyName {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */