// font family style are here

    $fontFamily1: 'Open Sans Condensed', sans-serif;
    $fontFamily2: 'Sedgwick Ave', cursive;

 //===============COLOR PALET ================   

    $black: black;
    $darkColor: #2020209c;
    $darkLightColor: #405559;
    $lightDarkColor: #68868C;
    $lightLightColor: #EDEDED;
    $lightGreenColor: #00ADB5;
    $colorwite: #ffffff;;