// font family style are here

    $fontFamily1: 'Lato', sans-serif;
    $fontFamily2: 'Source Serif 4', sans-serif;

 //===============COLOR PALET ================   

  $black: black;
  $darkColor: #1d1d1d;
  $darkLNavColor: rgba(28, 28, 28, 0.2);
  $darkLightColor: #405559;
  $lightDarkColor: #68868C;
  $lightLightColor: #EDEDED;
  $lightgrayColor: #efefef;
  $colorwite: #ffffff;
  $FooterlightLightColor: #aaa9a9;

