html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


// =================================after the snypot some of may glogal



html {
    margin: 0;
    padding: 0;
    font-size: 125%;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    width: 90%;
}


//==========herol image=======

header {
    background-image: url(../assets/hero.jpg);
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}


//===================== image styles ============
.imgSkills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

.imgSkill{
    width: 15%;
    margin: 30px 70px;
}

// =====================skills==========

.skill{
    text-align: center;
    font-family: $fontFamily2;
    font-size: 4rem;
    margin-bottom: 5rem;
}



// =====================ptoject==========

.portfolioCont{
    background-color: $lightLightColor;
    width: 90%;
    margin: 0 auto;
}

.potImgTxt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portImgTxtCont{
    width: calc(50% - 1rem);
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.h2Prot{
    margin-top: 15px;
}

.project{
    text-align: left;
    font-family: $fontFamily2;
    font-size: 2rem;
    width:100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    p{
        font-size: 1.3rem;
        margin-top: 5px;
    }
}

.imgPortifolio{
    width: 100%;
    box-shadow: 6px 7px #1d1d1d;
}

h2{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btnProj{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

// =====================ABOUT ME==========

.aboutCont{
    background-image: url(../assets/Caraguatatuba---20140201--229.jpg);
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.aboutMe{
    text-align: center;
    font-family: $fontFamily2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
}

.aboutMeCont2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

.aboutMeCont3{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    align-items: center;
}

.h2About{
    color: $darkColor;
    text-align: left;
    -webkit-text-stroke: 1.5px $black;
}

.pAboutMe{
    font-size: 1.5rem;
    color: $darkColor;
    font-family: $fontFamily1;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-bottom: 1.5rem;
    letter-spacing: 0.4rem;
    line-height: 2.5rem;
    width: 100%;
    -webkit-text-stroke: 1.5px $black;
}


.portrait {
    width: 95%;
    border:2px solid $black;
    border-radius: 100%;
    background-color:$lightLightColor;
    padding:3px;
}

// =====================social midia==========


.midiaContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.socialMidia{
    a{
        margin:10px 15px;
        color: $darkColor;
        font-size: 2rem;
        border-bottom: none;
    }
}

.socialMidia{
    a:hover{
        color: $lightDarkColor;
        border-bottom: none;
    }
}

// =========contact=========

.contact-me {
    text-align: center;
    margin: 40px 5px
}

.btn{
    font-size: 1rem;
    text-decoration: none;
    background-color: transparent;
    color: $black;
    border-radius: 12px;
    border: 2px solid $black;
    padding: 9px;
    padding-top: 12px;
    text-align: center;
    display: inline-block;
}

.btn:hover, .btn:focus {
    background-color:  $black;
    color:  $lightLightColor;
}

// =========Footer============



.footerSocialMidia{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 0.01rem dotted $darkColor;
}

footer{
    height: 80px;
    text-align: center;
    color: $black;
    padding-top: 1%;
}

.getInTfooter{
    color: $lightLightColor;
}



// ======================404 error=============

.error404{
    background-image: url(../assets/festival-de-circo-2---20130724--115.jpg);
    background-size: cover;
    padding-bottom: 150px;
    padding-right: 150px;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.errorPage{
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    color: $lightgrayColor;
        i{
            color: $lightgrayColor ;
        }
}

.errorPage{
    i:hover{
        color: $lightDarkColor;
    }
}

.h1Error{
    margin-top: 30%;
    margin-left: 25%;
    font-size: 1.9rem;
    background-color: rgba($color: #000000, $alpha: 0.4);
}


ul{
    li{
        .nav404{
            text-decoration: none;
            font-family: $fontFamily2;
            color: $lightLightColor;
            letter-spacing: 0.2rem;
            font-size: 1.3rem; 
            transition: 0.4s ease-out;
            text-transform: uppercase; 
            text-decoration: none;
            font-style: normal;   
            margin-left: 1rem;  
        }
    }
}
ul{
    li{
        .nav404:hover, .nav404:focus{
            color:$lightDarkColor;
            border-bottom: 1px solid $lightDarkColor;
            transform: scale(20) skew(-20deg);
        }
    }
}



// =================form


.contactMainSection{
    width: 90%;
    padding-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

 .continer1, .continer2{
     width: 50%;
 }

.formContiner{
    width: 90%;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.submit{
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: end;
    margin-right: 128px;
}

form{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 32px;
    background-color: rgba($color: #c6c2c2, $alpha: 1.0);

}

.formContiner{
    label{
        display: block;
        margin-bottom: 5px;
        font-size: 2rem;

    }
}
.formElement{
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}


textarea{
    resize: none;
    min-width: 100px;
}