a{
    text-decoration: none;
    font-style: normal;
}

nav{
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55%;
        li {
            list-style: none;
            a{
            text-decoration: none;
            font-family: $fontFamily1;
            font-weight: bold;
            color: $colorwite;
            letter-spacing: 0.2rem;
            font-size: 1.6rem; 
            transition: 0.4s ease-out;               
            }
    }
}

a:hover,a:focus {
    color:$black;
    border-bottom: 1px solid $black;
    transform: scale(20) skew(-20deg);
}

.myName{
    margin-top: 16%;
    margin-left: 25%;
}

h1{
    font-family: $fontFamily2;
    color: white;
    letter-spacing: 7px;
    font-size: 3rem;
    margin-bottom: 14px;
}

.pMyName{
    font-family: $fontFamily1;
    color: white;
    letter-spacing: 7px;
    font-size: 2.5rem;
    margin-top: 0;
}


