

nav{
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
        li {
            list-style: none;
            .aNav{
            text-decoration: none;
            font-family: $fontFamily2;
            // font-weight: bold;
            color: $colorwite;
            letter-spacing: 0.2rem;
            font-size: 1.3rem; 
            transition: 0.4s ease-out;
            text-transform: uppercase; 
            text-decoration: none;
            font-style: normal;   
            margin-left: 1rem;     
            }
        }
    }

.aNav:hover,.aNav:focus {
    color:$black;
    border-bottom: 1px solid $black;
    transform: scale(20) skew(-20deg);
}

.myName{
    margin-top: 16%;
    margin-left: 25%;
}

h1{
    font-family: $fontFamily1;
    color: white;
    letter-spacing: 7px;
    font-size: 3rem;
    margin-bottom: 14px;
}

.pMyName{
    font-family: $fontFamily1;
    color: white;
    letter-spacing: 7px;
    font-size: 1.7rem;
    margin-top: 0;
}


