

.headerResume{
    background-image: none;
    background-attachment: none;
    background-repeat:  none;
    background-size:  none;
    min-height: 4vh;
    width: 100%;
}


.resBody{
    background-color: #aaa9a9;
}

.resCont{
    margin: 0 auto;
}

.resume{
    width: 100%;
    margin-top: 60px;
}
