

.headerResume{
    background-image: none;
    background-attachment: none;
    background-repeat:  none;
    background-size:  none;
    min-height: 4vh;
    width: 100%;
}


.resBody{
    background-color: #aaa9a9;
}

.resCont{
    margin: 0 auto;
}

.resume{
    width: 100%;
    margin-top: 60px;
}




.contactMainSection{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
}

.continer1, .continer2{
    width: 50%;
}

.formContiner{
    width: 90%;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.submit{
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: end;
    margin-right: 128px;
}

form{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 32px;

}

.formContiner{
    label{
        display: block;
        margin-bottom: 5px;
        font-size: 1.7rem;
        font-family:  $fontFamily2;

    }
}
.formElement{
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 500px;
}

// textarea, input[type="submit"]{
//     resize: none;
//     min-width: 100px;
// }